/* body part */
html{
    background: rgb(213, 210, 210);
    margin: 30px;
}
body{
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: white;
    margin: 20px 30px;
    line-height: 1.5;
    border-radius: 10px;
    padding: 10px 40px;
}

/* header part */
header{
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

div{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.headpic{
    width: 100%;
    margin-right: 20px;
}
    
footer{
    border: 2px solid black;
}

/* main */
main{
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(3 1fr);
    gap: 20px;
}
/* goc trai man hinh */
.headleft{
    grid-column: 1/2;
    grid-row: 1/3;
    padding: 15px;
    
}

/* goc phai man hinh */
.subhead{
    grid-column: 2/3;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(2 1fr);
    gap: 20px;
}

.div1{
    grid-column: 1/3;
    grid-row: 1/2;
    justify-content: space-between;
}

.div2{
    grid-column: 1/2;
    grid-row: 2/3;
}

.div3{
    grid-column: 2/3;
    grid-row: 2/3; 
  
}

.div2, .div3{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
/* khuc cuoi man hinh */
.headbot{
    grid-column: 1/3;
    grid-row: 3/4;
    display:flex;
    gap: 20px;
}
.divbot{
    display:flex;
    flex-direction: column;
    
}

@media screen and (max-width: 920px) {
    .div1 img {
        width: 100px;
        height: auto;
    }
}

.div3 h3, .div3 p, .div2 h3, .div2 p {
    margin: 0px;
}